<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3><span>Vita</span> Vehiculum</h3>
                    <!-- <p>
                        A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br><br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p> -->
                </div>

                <div class="col-lg-4 mx-auto">
                    <div class="container">
                        <h4 class="text-center">Join Our Newsletter</h4>
                        <form action="" method="post", onsubmit="alert('thanks'); return false;">
                            <div class="mb-3">
                                <input class="form-control" type="email" placeholder="Email" name="email">
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary" type="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('contact') }}">Contact Us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('manufacturing') }}">Manufacturing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('generation') }}">Solar Generation</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <!-- <div class="copyright">
            &copy; Copyright <strong><span>BizLand</span></strong>. All Rights Reserved
        </div> -->
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
            Template by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->
