{% macro nav_link(endpoint, name) %}
    {% if url_for(endpoint).endswith(request.url.netloc + request.url.path) %}
        <li><a class="nav-link active" href="{{ url_for(endpoint) }}">{{name}}</a></li>
    {% else %}
        <li><a class="nav-link" href="{{ url_for(endpoint) }}">{{name}}</a></li>
    {% endif %}
{% endmacro %}

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <a class="logo" href="{{url_for('root')}}"><img src="/assets/logo.svg"/></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                {{ nav_link('root', 'Home') }}
                {{ nav_link('contact', 'Contact Us') }}
                {{ nav_link('manufacturing', 'Manufacturing') }}
                {{ nav_link('generation', 'Solar Generation') }}

                {% if user %}
                <li class="nav-link dropdown">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.name }}
                        <img src="/assets/img/userimg.png" alt="mdo" class="rounded-circle" width="32" height="32">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                        {% if user.admin %}
                        <li><a class="dropdown-item" href="{{ url_for('admin') }}">Admin</a></li>
                        <li><hr class="dropdown-divider"></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign out</a></li>
                    </ul>
                </li>
                {% else %}
                {{ nav_link('login', 'Login') }}
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->
