{% extends "base.html" %}
{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1><span>SoleZonSolis</span></h1>
        <h2>inspiriational text here</h2>
    </div>
</section><!-- End Hero -->


<main id="main">
    <section class="section-bg skills">
        <div class="container">
            <div class="section-title">
                <h3>Sonnenberg Fields</h3>
            </div>

            <div class="row row-cols-2 skills-content">
                {% for i in solar_arrays %}
                <div class="col">
                    <div class="progress">
                        <span class="skill">Array {{ i.arrayID }}<i class="val">{{ i.arrayVoltage * i.arrayCurrent }}W</i></span>
                        <div class="progress-bar-wrap">
                            <!-- They said the arrays produce 14000kW/h so these should never go above 2300 in theory -->
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ i.arrayVoltage * i.arrayCurrent }}" aria-valuemin="0" aria-valuemax="2300"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock %}
