{% extends "base.html" %}
{% block content %}

<main id="main">
    <section class="section-bg">
        <div class="container">
            <div class="section-title">
                <h3>Manufacturing</h3>
            </div>
            <p>
                Being part of the Vita Vehiculum family means that we support the manufacturing of electric vehicles (EV). Utilizing our solar generation, Vita Vehiculum has built a new electric vehicle manufacturing complex right here at Sonneberg Fields. It provides the capability of building EV in a plant run completely off solar! It is much more efficient than any of our competitors! Please reach out via the Contact Us page for more information regarding our EV manufacturing.
            </p>
        </div>
    </section>
</main>

{% endblock %}
